.header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 20px 40px;
  border-bottom: 1px solid #cccccc;
  gap: 10px;

  .left {
    flex: 1;
    max-width: 290px;
  }

  .center {
    position: relative;
    flex: 1;

    img {
      position: absolute;
      top: 9px;
      left: 10px;
    }

    input {
      width: 100%;
      border-radius: 8px;
      padding: 12px 12px 12px 44px;
      background-color: #1e1e1e;
    }
  }

  .right {
    flex: 1;
    max-width: 290px;
  }
}

.mainSection {
  width: 100%;
  height: 100%;
  padding: 0 40px;

  display: flex;

  main {
    display: flex;
    width: 100%;

    .section-list.side {
      max-width: 290px;
    }

    .section-list {
      width: 100%;

      article {
        margin: 0 20px;
        padding: 40px 0 20px 0;

        ul {
          li {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;

            &:hover {
              background-color: #858585;
              cursor: pointer;
            }

            .img {
              background-color: white;
              width: 24px;
              height: 24px;
              border-radius: 6px;
            }
          }
        }
      }

      article:nth-child(1) {
        padding-top: 20px;
      }
    }

    .section-list.center {
      .textarea {
        .textarea-inner {
          position: relative;
          textarea {
            width: 100%;
            height: 240px;
            padding: 20px 20px;

            background-color: #1e1e1e;
            border-radius: 16px;
          }

          .textarea-bottom {
            position: absolute;
            display: flex;
            justify-content: space-between;
            bottom: 0;
            width: 100%;
            padding: 12px 16px;
            background-color: #858585;
            border-radius: 0 0 16px 16px;

            div {
              display: flex;

              .icon {
                width: 24px;
                height: 24px;
                margin-right: 10px;
                border-radius: 4px;
                background-color: white;
              }
            }

            .icon-right {
              width: 24px;
              height: 24px;
              margin-right: 10px;
              border-radius: 4px;
              background-color: white;
            }
          }
        }
      }

      .post {
        background-color: #1e1e1e;
        border-radius: 16px;
        padding: 20px 0;
      }

      .post-inner {
        padding: 0 20px;

        .guest {
          display: flex;
          margin-bottom: 24px;

          .guest-image {
            background-color: white;
            border-radius: 50%;
            width: 50px;
            height: 50px;
          }

          .guest-name {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            padding-left: 16px;

            p {
              font-size: 14px;
              color: #666666;
            }
          }
        }

        .post-box {
          display: flex;
          flex-direction: column;
          gap: 16px;
          .post-text {
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
            border-radius: 16px;
            height: 260px;
            padding: 20px;
            margin-bottom: 24px;
            line-height: 24px;
          }

          .post-language {
            color: #bababa;
            opacity: 0.7;
          }

          .post-buttons {
            display: flex;
            gap: 16px;

            div {
              display: flex;
              align-items: center;
              gap: 10px;
              button {
                width: 24px;
                height: 24px;
                background-color: #fff;
                border-radius: 6px;
              }
            }
          }
        }
      }
    }
  }
}
